
.posts {
  margin: 0;
  font-family: "Nanum Myeongjo";
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}


/* Screen larger than 600px? 2 column */
@media (min-width: 200px) {
  .posts { grid-template-columns: repeat(1, 100%); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 500px) {
  .posts { grid-template-columns: repeat(3, 35%); }
}

@media (min-width: 900px) {
  .posts { grid-template-columns: repeat(4, 25%); }
}

.posts .container{

}

.post .py3 .item{

}

.posts .post {
  border-style: dotted;
  padding: 1px 3px;
  border-width: 2px;
  border-color: #aaa;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
